.review_main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  padding: 50px;
  position: relative;
  .parent {
    padding: 15px;
    border-radius: 7px;
    width: 1000px;
    margin: 0 auto;
    box-shadow: -2px 3px 15px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 20px;
    background-color: #062530;
    border: 1px solid red;
    color: #fff;

    cursor: pointer;
    position: relative;
    transition: all 0.5s;
    img {
      width: 70%;
      display: block;
      margin: 30px auto;
    }
    h2 {
      text-align: center;
      font-size: 32px;
    }
    h1 {
      text-align: center;
    }
    .rating {
      width: 20%;
      position: absolute;
      top: 60%;
    }
  }
  @media only screen and (max-width: 768px) {
    .parent {
      padding: 15px;
      border-radius: 7px;
      width: 420px;
      margin: 0 auto;
      box-shadow: -2px 3px 15px rgba(0, 0, 0, 0.1);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      grid-gap: 20px;
      background-color: #062530;
      border: 1px solid red;
      color: #fff;
      img {
        width: 70%;
        display: block;
        margin: 30px auto;
      }
      h2 {
        font-size: 16px;
        text-align: left;
      }
      h1 {
        text-align: center;
      }
    }
  }
}
